.R-container {
    background-color: rgb(24, 19, 44);
    height: 800px;
    width: 900px;
    margin-left: 25%;
    margin-top: 3%;
    color: white;
    border-radius: 15px;
}

.R-title {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Details {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-left: 3%;
    margin-top: 5%;
}

.Details span{
    font-size: 20px;
    width: 250px;
    font-family: monospace;
    font-weight: bold;
}

.Details input {
    width: 540px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    padding-left: 15px;
}

.Details textarea {
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding-left: 15px;
}

.D {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-left: 20px;
    margin: 10px;
}

.btn-con {
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.btn-con button {
    height: 50px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color:rgb(24, 19, 44);
}

.remove- {
	display: none;
}